
/* Import fonts */
@font-face {
    font-family: "Outfit";
    src: url(https://fonts.google.com/specimen/Outfit);
  }



/* Variable declarations */
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --fontOutfit: "Outfit", sans-serif;
}

/* Css Basic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    display: grid;
    min-height: 100vh;
    background-color: var(--light-gray);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontOutfit);
    place-items: center;
}

/* QR code container */
main{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 31em;
    width: 20em;
    border-radius: 15px;
    gap: 15px;
    padding-bottom: 35px;
}

/* image of QR code */
.card_qr_code{
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 9px;
}

/* heading of the card */
.card_heading{
    color: var(--dark-blue);
    font-size: 1.3rem;
    text-align:center;
    width: 90%;
    align-self: center;
}

/* description of the card */
.card_description{
    color: var(--grayish-blue);
    font-size: 0.95rem;
    text-align: center;
    padding: 0 30px;
}

.attribution{
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    font-size:0.735rem;
}

.attribution, a{
    color: var(--dark-blue);
}

/* Responsiveness for mobile */
@media only screen and (max-width:440px){
   .container{
       width: 80%;
   }
}


